<%- include ('../partials/adminheader.ejs') %>

<div class="content-wrapper" >
    <div class="row">
        <h1></h1>
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-8 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Today Sales</h3>
                </div>
                <div class="panel-body">
                    <div id="performance1" style="height: 270px;"></div>
                    
                </div>
                
            </div>
        </div>     
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-8 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Weekly Sales</h3>
                </div>
                <div class="panel-body">
                    <div id="performance2" style="height: 270px;"> </div>
                </div>
            </div>
        </div>
       
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-8 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Monthly Sales</h3>
                </div>
                <div class="panel-body">
                    <div id="performance3" style="height: 270px;"></div>
                </div>
            </div>
        </div>
        
    </div>  
</div>






<%- include ('../partials/adminFooter.ejs') %>